<LayoutRoot xmlns="http://schemas.xceed.com/wpf/xaml/avalondock">
  <RootPanel>
    <LayoutPanel Orientation="Horizontal">
      <LayoutAnchorablePane DockWidth="250">
        <LayoutAnchorable Title="Explorer" ContentId="Explorer" CanClose="False" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical">
        <LayoutDocumentPane>
          <LayoutDocument Title="Decompiler View" ContentId="DecompilerView" CanClose="False" />
        </LayoutDocumentPane>
        <LayoutAnchorablePane DockHeight="200">
          <LayoutAnchorable Title="Output" ContentId="Output" CanClose="False" />
          <LayoutAnchorable Title="Search Results" ContentId="SearchResults" CanClose="False" />
        </LayoutAnchorablePane>
      </LayoutPanel>
    </LayoutPanel>
  </RootPanel>
</LayoutRoot>
